body {
    background-color: #121212; /* Fundo preto */
    color: #e0e0e0; /* Texto claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
textarea { 
    width: 100%; 
    box-sizing: border-box; 
    background-color: #333; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    border: 1px solid #444; /* Borda sutil */
    border-radius: 4px;
    padding: 10px;
}
input, button, select { 
    margin: 5px; 
    border: 1px solid #444; /* Borda sutil */
    border-radius: 4px;
    padding: 5px;
    background-color: #222; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}
button {
    background-color: #1e90ff; /* Azul */
    color: #fff; /* Texto branco */
    cursor: pointer;
}
button:hover {
    background-color: #1c86ee; /* Azul mais escuro */
}
#status { 
    margin-top: 10px; 
}
#console {
    background: #1a1a1a;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    max-height: 60px;
    overflow-y: auto;
    margin-top: 20px;
}
.toolbar {
    background-color: #1e1e1e;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.sidebar {
    width: 250px;
    float: left;
    background-color: #1e1e1e;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
    border-right: 1px solid #333;
}
.sidebar h1, .sidebar h2 {
    color: #e0e0e0;
    margin-top: 0;
}
.sidebar input, .sidebar button, .sidebar select {
    background-color: #333; /* Fundo escuro */
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 5px 0;
}
#trabalhoArea {
    margin-left: 250px; /* Ajuste para a barra lateral */
    padding: 1px;
    background-color: #121212;
    height: 100vh;
    box-sizing: border-box;
    color: #e0e0e0;
}
#codeEditor {
    height: 550px;
    background-color: #1e1e1e; /* Editor de código escuro */
    border: 1px solid #333;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        float: none;
        border-right: none;
        border-bottom: 1px solid #333;
    }
    #trabalhoArea {
        margin-left: 0;
        padding-top: 10px;
    }
    #codeEditor {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .toolbar {
        padding: 5px;
    }
    .toolbar button {
        margin-right: 5px;
        padding: 6px;
        font-size: 12px;
    }
    .sidebar {
        padding: 5px;
    }
    .sidebar h3 {
        font-size: 16px;
    }
    .sidebar input, .sidebar button, .sidebar select {
        margin: 3px 0;
        padding: 5px;
        font-size: 14px;
    }
    #console {
        font-size: 12px;
    }
}