<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandi Studio 1.0</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/circleLogo.css">
    <link rel="stylesheet" href="/static/css/libs.css">
    <link rel="stylesheet" href="/static/css/monitor.css">
    <link rel="stylesheet" href="/static/css/webgl.css">
    <link rel="stylesheet" href="/static/css/spinner.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.51.0-dev-20240628/min/vs/loader.js"></script>
</head>
<body>
    <div class="toolbar button-div">
        <div class="circleLogo-area">
            <div id="toggle-drawer" class="circleLogo toolbar-buttons">
                <img id="toggle-drawer" src="/static/icones/toolbar/wandi.png" alt="Wandi Studio Logo" class="logo">
            </div>
        </div>
        <div class="toolbar-items">
            <div class="toolbar-buttons toolbar-items-1-2-3" id="saveCodeButton"><img src="/static/icones/toolbar/code.png" alt=""></div>
            <div class="toolbar-buttons toolbar-items-1-2-3" id="compileCodeButton"><img src="/static/icones/toolbar/verifica.png" alt=""></div>
            <div class="toolbar-buttons toolbar-items-1-2-3" id="uploadCodeButton"><img src="/static/icones/toolbar/enviar.png" alt=""></div>
            <div id="spinner-container" class="spinner-container">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h3 style="color: #007bff;">Conexão</h3>
        <div class="conect sidebarBTNItens">
            <button id="instalar"><img src="/static/icones/terminal.png" alt=""></button>
            <button id="pegarPortas"><img src="/static/icones/sidebar/alternancia.png" alt=""></button>
            <!-- Botão fora do offcanvas para abrir -->
            <button id="openMonitorButton"><img src="/static/icones/sidebar/mensagem.png" alt=""></button>
        </div>
        <div class="projectos">
            <h4 style="color: #007bff;">Projectos</h4>
            <div>
                <ul id="projectsList"></ul>
                <select id="loadProjectSelect"></select>
            </div>
            <div class="sidebarBTNItens">
                <button id="loadProjectButton"><img src="/static/icones/sidebar/botao-adicionar.png" alt=""></button>
                <button id="createProjectButton"><img src="/static/icones/sidebar/pasta.png" alt=""></button>
                <button id="deleteProjectButton"><img src="/static/icones/sidebar/deletar.png" alt=""></button>
            </div>
        </div>
        <hr>
        <div class="bibliotecas">
            <h4 style="color: #007bff;">Bibliotecas</h4>
            <div>
                <select id="installedLibrariesSelect"></select>
            </div>
            <div class="sidebarBTNItens">
                <button id="installLibraryButton"><img src="/static/icones/sidebar/api.png" alt=""></button>
                <button onclick="toggleOffcanvas()"><img src="/static/icones/sidebar/lupa.png" alt=""></button>
                <button id="uninstallLibraryButton"><img src="/static/icones/sidebar/deletar.png" alt=""></button>
            </div>
        </div>
    </div>
    <div id="trabalhoArea">
        <div id="codeEditor"></div>
        <div id="console"></div>
    </div>

    <div id="offcanvasLibraries">
        <div class="offcanvas-header">
            <h4 style="color: #007bff;">Bibliotecas Arduino</h4>
            <button class="close-btn" onclick="toggleOffcanvas()">&times;</button>
        </div>
        <input type="text" id="searchInput" onkeyup="filterLibraries()" placeholder="Pesquisar bibliotecas...">
        <div id="librariesContainer">
            <!-- As bibliotecas serão carregadas aqui pelo JavaScript -->
        </div>
    </div>

    <div class="drawer">
        <!-- Drawer -->
        <div class="drawer-side" id="drawer">
            <iframe id="webgl-frame" src="http://localhost:3800/index.html"></iframe>
            <div class="drawer-buttons">
                <button class="drawer-button d-btns" id="close-drawer"><img src="/static/icones/3D/numero-30.png" alt=""></button>
                <button class="d-btns" id="set-50"><img src="/static/icones/3D/50.png" alt=""></button>
                <button class="d-btns" id="set-100"><img src="/static/icones/3D/100.png" alt=""></button>
                <button class="d-btns" id="restart-webgl"><img src="/static/icones/3D/recarregar.png" alt=""></button>
            </div>
        </div>

        <div class="drawer-overlay" id="overlay"></div>
    </div>

    <!-- Offcanvas inferior -->
    <div id="MonitorSerial">
        <div>
            <button id="connect">Conectar ao Arduino</button>
            <button id="clear">Limpar</button>
            <button id="Ocultar">Ocultar</button>
            <button id="disconnect">Desconectar</button>
            <select id="baud-rate">
                <option value="2400">2400</option>
                <option value="9600" selected>9600</option>
                <option value="14400">14400</option>
            </select>
            <input type="text" id="serial-input" placeholder="Digite algo para enviar">
            <button id="send">Enviar</button>
            <div id="status">
                <p>Bytes Enviados: <span id="bytes-sent">0</span></p>
                <p>Bytes Recebidos: <span id="bytes-received">0</span></p>
            </div>
        </div>
            <textarea id="serial-output" rows="10" readonly></textarea>

            <div class="button-container">
                <div class="left-side">
                    <div class="button-pair">
                        <button id="j1max-btn">J1Max</button>
                        <button id="j1min-btn">J1Min</button>
                    </div>
                    <div class="button-pair">
                        <button id="j2max-btn">J2Max</button>
                        <button id="j2min-btn">J2Min</button>
                    </div>
                </div>
            
                <div class="right-side">
                    <div class="button-pair">
                        <button id="j3max-btn">J3Max</button>
                        <button id="j3min-btn">J3Min</button>
                    </div>
                    <div class="button-pair">
                        <button id="j4max-btn">J4Max</button>
                        <button id="j4min-btn">J4Min</button>
                    </div>
                    <div class="button-pair">
                        <button id="j5max-btn">J5Max</button>
                        <button id="j5min-btn">J5Min</button>
                    </div>
                    <div class="button-pair">
                        <button id="j6max-btn">J6Max</button>
                        <button id="j6min-btn">J6Min</button>
                    </div>
                </div>
            </div>
            
            
    </div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/libs.js"></script>
    <script src="/static/js/monitor.js"></script>
    <script src="/static/js/webgl.js"></script>
    <script src="/static/js/instalar.js"></script>
</body>

</html>