<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandi Studio - Editor De Código</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/circleLogo.css">
    <link rel="stylesheet" href="/static/css/libs.css">
    <link rel="stylesheet" href="/static/css/monitor.css">
    <link rel="stylesheet" href="/static/css/webgl.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.51.0-dev-20240628/min/vs/loader.js"></script>
</head>
<body>
    <div class="toolbar button-div">
        <div class="circleLogo-area">
            <div id="toggle-drawer" class="circleLogo toolbar-buttons">
                <img id="toggle-drawer" src="/static/icones/wandi.png" alt="Wandi Studio Logo" class="logo">
            </div>
        </div>
        <div class="toolbar-items">
            <div class="toolbar-buttons toolbar-items-1-2-3" id="saveCodeButton"><img src="/static/icones/code.png" alt=""></div>
            <div class="toolbar-buttons toolbar-items-1-2-3" id="compileCodeButton"><img src="/static/icones/verifica.png" alt=""></div>
            <div class="toolbar-buttons toolbar-items-1-2-3" id="uploadCodeButton"><img src="/static/icones/enviar.png" alt=""></div>
        </div>
    </div>

    <div class="sidebar">
        <h3 style="color: #007bff;">Conexão</h3>
        <button class="btn" id="pegarPortas">
            <h3>Portas</h3>
        </button>
        <!-- Botão fora do offcanvas para abrir -->
        <button class="btn" id="openMonitorButton">
            <h3>Mensagem</h3>
        </button>
        <hr>
        <div class="projectos">
            <h3 style="color: #007bff;">Projectos</h3>
            <div>
                <ul id="projectsList"></ul>
                <select id="loadProjectSelect"></select>
            </div>
            <div>
                <button class="btn" id="createProjectButton">Novo</button>
            </div>
            <div>
                <button class="btn" id="loadProjectButton">Carregar</button>
            </div>
            <button class="btn" id="deleteProjectButton">Excluir</button>
        </div>
        <hr>
        <div class="bibliotecas">
            <h3 style="color: #007bff;">Bibliotecas</h3>
            <div>
                <div>
                    <select id="installedLibrariesSelect"></select>
                    <button class="btn" id="installLibraryButton">Instalar</button>
                </div>
                <button class="btn" id="uninstallLibraryButton">Excluir</button>
            </div>
            <button class="btn" onclick="toggleOffcanvas()">Todas</button>
        </div>
    </div>
    <div id="trabalhoArea">
        <div id="codeEditor"></div>
        <div id="console"></div>
    </div>

    <div id="offcanvasLibraries">
        <div class="offcanvas-header">
            <h4 style="color: #007bff;">Bibliotecas Arduino</h4>
            <button class="close-btn" onclick="toggleOffcanvas()">&times;</button>
        </div>
        <input type="text" id="searchInput" onkeyup="filterLibraries()" placeholder="Pesquisar bibliotecas...">
        <div id="librariesContainer">
            <!-- As bibliotecas serão carregadas aqui pelo JavaScript -->
        </div>
    </div>

    <div class="drawer">
        <!-- Drawer -->
        <div class="drawer-side" id="drawer">
            <iframe id="webgl-frame" src="http://localhost:3800/index.html"></iframe>
            <div class="drawer-buttons">
                <button class="drawer-button d-btns" id="close-drawer">30%</button>
                <button class="d-btns" id="set-50">50%</button>
                <button class="d-btns" id="set-100">100%</button>
                <button class="d-btns" id="restart-webgl">Reiniciar WebGL</button>
            </div>
        </div>

        <div class="drawer-overlay" id="overlay"></div>
    </div>

    <!-- Offcanvas inferior -->
    <div id="MonitorSerial">
        <button id="connect">Conectar ao Arduino</button>
        <button id="Ocultar">Ocultar</button>
        <button id="disconnect">Desconectar</button>
        <select id="baud-rate">
            <option value="2400">2400</option>
            <option value="9600" selected>9600</option>
            <option value="14400">14400</option>
        </select>
        <textarea id="serial-output" rows="10" readonly></textarea>
        <button id="clear">Limpar</button>
        <input type="text" id="serial-input" placeholder="Digite algo para enviar">
        <button id="send">Enviar</button>
        <div id="status">
            <p>Bytes Enviados: <span id="bytes-sent">0</span></p>
            <p>Bytes Recebidos: <span id="bytes-received">0</span></p>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/libs.js"></script>
    <script src="/static/js/monitor.js"></script>
    <script src="/static/js/webgl.js"></script>
</body>

</html>